.SearchBarContainer {
    display: flex;
    flex-direction: column;
    margin : 4% 0 0 0;
}

.SearchBarInput {
    margin: 0 auto;
    width: 80%;
    height: 80%;
}

input {
    border: 0px solid white;
    padding: 5px;
    margin: 0;
    background-color: ;
    font: 13px sans-serif;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 5px;
    /* border-radius: 12px;*/
}

.SearchBarButtonContainer, button {
    display: flex;
    margin: 8% 0 0 0;
    background-color: red;
}

button {
    margin: 15px auto 10px auto;
    padding: auto;
    width : 20%;
    background-color: white;
    border: 1px black;
    font-weight: 600;
    justify-content: center;
    height: 30px;
    align-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    cursor: pointer;
}

*:focus {
    outline: none;
}